
<!-- Este componente sera el encargado de enviar la informaciona  todos estos -->
<div style="min-height:100vh;">
    <navigation-bar></navigation-bar>
    <!-- Seccion principal -->
    <div class="container-sm d-flex justify-content-center from-left">
        <div class="col-10">
            
            <!-- About -->
            <about-card img="https://i.ibb.co/yQX0pqk/defaul-Thumbnail.png"
            [description] = "['Hola soy matias un desarrollador web nacido en Argentina.
            Desde siempre he disfrutado los temas relacionados con la tecnología.
            Mi pasión nació desde muy pequeño cuando descubrí como hacer paginas usando 
            html y un bloc de notas y desde entonces nunca he parado.',
            'He creado infinidad de páginas, modelado en 3D, trabajado en algunos juegos 
            y hasta he creado pequeños robots usando arduino.
            Todo esto lo he hecho siempre como hobby y aprendiendo por mi cuenta, 
            es por eso que me considero un autodidacta.',
            'No fue hasta el 2022 que decidí dedicarme a esto de manera profesional y entre
            un Bootcamp donde aprendí muchas cosas nuevas e interesantes.',
            'Mi foco principal en estos días es desarrollar sitios webs únicos y 
            sorprendentes y por eso me mantengo siempre en movimiento y aprendiendo
            para crear cosas cada vez mejores.']"></about-card>

            <!-- Conocimientos -->
            <skills [skills]="skills" (delete)="handleDelete($event)"></skills>

            <!-- Estudios -->
            <studies [studies]="studies" (delete)="handleDelete($event)"></studies>

            <!-- Experiencia -->
            <experience [experiences]="experiences" (delete)="handleDelete($event)"></experience>

            
        </div>
    </div>
    <!-- Modal de borrado -->
    <delete-modal [deleteInfo]="deleteModal" (delete) = "handleDelete($event)"></delete-modal>

</div>