<!-- Este componente es el encargado de recuperar datos de la db y brindarselos a todos sus hijos -->
<div class="bg-dark" style="min-height:100vh;">
    <navigation-bar></navigation-bar>
    <!-- Cuerpo principal -->
    <div class="text-center">
        <h1 class="text-white mt-5 title-project">Mis Proyectos</h1>
        <!-- Contender cartas -->
        <div class="mt-5">

            <div class="position-absolute top-0 start-0 p-2">
                <button (click)="handleCreate()" class="btn btn-outline-success my-2 my-sm-0">
                    <fa-icon [icon]="faPlus" class="text-white fs-3"></fa-icon>
                </button>
            </div>

            <div *ngFor="let p of projects">
                <!-- Esto deberia rellenarlo con la info contenida en projects que deberia ser un objeto con info traida de la DB -->
                <!-- Fijate si le podes poner un delay dependiendo del index a cada carta -->
                <project-card name="Project name" dateInit="11/11/11" dateFinish="11/11/11" 
                description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, laborum cumque 
                rem assumenda illo odio expedita dolorem placeat ab dolor accusantium enim earum 
                velit ipsum ad aut aperiam, aspernatur nobis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, laborum cumque 
                rem assumenda illo odio expedita dolorem placeat ab dolor accusantium enim earum 
                velit ipsum ad aut aperiam, aspernatur nobis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, laborum cumque 
                rem assumenda illo odio expedita dolorem placeat ab dolor accusantium enim earum 
                velit ipsum ad aut aperiam, aspernatur nobis." projectLink = "www.github.com"
                videoLink="www.youtube.com" deployLink="www.google.com" imgLink="https://i.ibb.co/yQX0pqk/defaul-Thumbnail.png"
                [tecnologys]="['HTML,','CSS,','JS']"></project-card>
            </div>
            
            
        </div>
    </div>
</div>

<!-- (isOpenChange) es el evento emisor definido en el elemento hijo <projects-form>, asi que aca digo
que cuando ese evento sea emitido por el componente hijo va a llamar a el metodo handleCreate() de este
componente que seria el padre -->
<projects-form [isOpen] = "createOpen" (isOpenChange)="handleCreate()"></projects-form>