<!-- Carta habilidad -->
<div class="d-flex flex-column align-items-center p-2 m-2 border border-2 position-relative" style="width:250px;min-width: 250px;">
    <!-- Buttons -->
    <button class="btn my-2 my-sm-0 top-0 start-0 position-absolute">
        <fa-icon [icon]="faPen" class="text-white"></fa-icon>
    </button>
    
    <button (click)="handleDelete()" class="btn my-2 my-sm-0 top-0 end-0 position-absolute">
        <fa-icon [icon]="faTrash" class="text-white"></fa-icon>
    </button>

    <h4 class="text-white">{{name}}</h4>

    <div class="progress w-75">
        <div class="progress-bar bg-success" role="progressbar" style="{{'width: ' + progress + '%'}}" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>