.iconsContainer i, svg{
    font-size: 30px;
    margin-right: 5px;
    margin-left: 5px;
    transition-duration: 300ms;
}

.iconsContainer a:hover i{
    transform: scale(1.1);
}

.thumbnail{
    max-width: 280px;
    max-height:210px;
    box-shadow: 0px 0px 4px #212529;
}

.card-project{
    transform: translateX(-100%);
    opacity: 0;
    animation: appear 1s ease-out forwards;
    background:
    linear-gradient(to right, white 2px, transparent 2px) 0 0,
    linear-gradient(to left, white 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, white 2px, transparent 2px) 0 0,
    linear-gradient(to top, white 2px, transparent 2px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.title-project{
    opacity: 0;
    animation: titleAppear 1.5s ease-out forwards;
}

@keyframes titleAppear{
    100%{
        opacity: 1;
    }
}

@keyframes appear{
    100%{
        transform: translate(0);
        opacity: 1;
    }
}


@media(max-width:768px){
    .card-project{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .thumbnail{
        max-width: 240px;
    }
}